/* Stream.css */

.stream-container {
    padding: 40px 20px;
    background-color: #121212;
    color: #ffffff;
    text-align: center;
    min-height: calc(105vh - 150px); /* Adjust based on Navbar and Footer height */
  }
  
  .stream-container h2 {    
    font-size: 2rem;
    color: #f39c12;
    margin-bottom: 20px;
  }
  
  .game-player {
    margin-top: 0px;
  }
  
  .game-player iframe {
    border-radius: 10px;
  }
  
  .fullscreen-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .fullscreen-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  