/* LoadingSpinner.css */

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
  }
  
  .loading-spinner {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #f39c12; /* Orange */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to { transform: rotate(360deg); }
  }
  